root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# don't set the maximum line length as URLs, Tailwind classes, and some other strings may be longer
max_line_length = off

[Makefile]
indent_size = 4
