---
import type { ImageMetadata } from "astro";
import { getEntry } from "astro:content";
import socialMediaImageEn from "../../assets/social-media-image-en.png";
import socialMediaImageFi from "../../assets/social-media-image-fi.png";
import Layout from "../../layouts/Layout.astro";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n";

const locale = getLocaleFromUrl(Astro.url);
const t = await useTranslations(locale, "home");

let socialMediaImage: ImageMetadata;

if (locale === "en") {
  socialMediaImage = socialMediaImageEn;
} else {
  socialMediaImage = socialMediaImageFi;
}

const preface = await getEntry("home", `${locale}/preface`);
const { Content: PrefaceContent } = await preface!.render();
---

<Layout image={socialMediaImage} title={t("home.title")}>
  <section
    class="prose prose-lg dark:prose-invert hover:prose-a:text-red-700 focus:prose-a:text-red-700 prose-em:ml-0.5 prose-em:font-serif hover:dark:prose-a:text-red-400 focus:dark:prose-a:text-red-400"
  >
    <PrefaceContent />
  </section>
</Layout>
