---
import {
  getLocaleFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../utils/i18n";
import Logo from "./Logo.astro";
import SocialMedia from "./SocialMedia.astro";

const locale = getLocaleFromUrl(Astro.url);
const t = await useTranslations(locale, "layout");
const translatePath = useTranslatedPath(locale);

const termsNavigation = [
  {
    name: t("footer.navigation.terms.dataProtection"),
    href: translatePath("/tietosuoja"),
  },
  // {
  //   name: t('footer.navigation.terms.accessibilityStatement'),
  //   href: translatePath('/saavutettavuusseloste'),
  // },
];
---

<footer>
  <div
    class="mx-auto flex max-w-prose flex-col-reverse items-center justify-between px-4 py-10 sm:flex-row"
  >
    <div
      class="flex flex-col items-center justify-start gap-4 sm:flex-row sm:gap-2"
    >
      <a
        class="text-gray-900 hover:text-red-700 focus:text-red-700 dark:text-gray-100 hover:dark:text-red-400 focus:dark:text-red-400"
        href={translatePath("/")}
      >
        <Logo class="h-14 w-14 fill-current" />
      </a>
      <div set:html={t("footer.copyright")} />
    </div>
    <div>
      <SocialMedia class="mb-4 flex flex-row justify-center sm:justify-end" />
      <nav
        class="mb-6 flex flex-col justify-center text-center sm:mb-0 sm:text-right"
        aria-label={t("footer.navigation.terms.label")}
      >
        {
          termsNavigation.map((link) => (
            <div class="my-2 sm:my-0">
              {/* eslint-disable-next-line jsx-a11y/anchor-has-content */}
              <a
                class="text-red-950 hover:underline focus:underline dark:text-red-100"
                href={link.href}
                set:text={link.name}
              />
            </div>
          ))
        }
      </nav>
    </div>
  </div>
</footer>
