<div class="mb-4 flex flex-row justify-center gap-6 sm:justify-end">
  <a
    class="hover:text-red-700 focus:text-red-700 hover:dark:text-red-400 focus:dark:text-red-400"
    href="{{ .Site.Params.SocialMedia.ThreadsLink }}"
    rel="nofollow"
  >
    <span class="sr-only">{{- T "threadsLogoAlt" -}}</span>
    {{ partial "icons/footer-threads-logo.html" }}
  </a>
  <a
    class="hover:text-red-700 focus:text-red-700 hover:dark:text-red-400 focus:dark:text-red-400"
    href="{{ .Site.Params.SocialMedia.InstagramLink }}"
    rel="nofollow"
  >
    <span class="sr-only">{{- T "instagramLogoAlt" -}}</span>
    {{ partial "icons/footer-instagram-logo.html" }}
  </a>
</div>
