{{ define "main" }}
  <section
    class="prose prose-lg container dark:prose-invert prose-a:font-normal hover:prose-a:text-red-700 focus:prose-a:text-red-700 hover:dark:prose-a:text-red-400 focus:dark:prose-a:text-red-400"
  >
    <h1 class="not-prose my-6 text-center font-mono text-6xl font-bold">404</h1>
    <div lang="fi">
      <h2 class="not-prose mb-10 mt-6 text-center font-mono text-3xl font-bold">
        Ei löydy
      </h2>
      {{ $homeURL := relLangURL "" }}
      <p>
        Etsimääsi sivua ei löytynyt. Tämä voi johtua siitä, että sivu on
        poistettu tai sen osoite on muuttunut. Voit palata
        <a href="{{ $homeURL }}">etusivulle</a>.
      </p>
    </div>
    <div class="mt-10" lang="en">
      <h2 class="not-prose mb-10 mt-6 text-center font-mono text-3xl font-bold">
        Not Found
      </h2>
      {{ $homeURL = relURL "en/" }}
      <p>
        The page you are looking for could not be found. This could be because
        the page has been removed or the address has changed. You can return to
        the
        <a href="{{ $homeURL }}">home page</a>.
      </p>
    </div>
  </section>
{{ end }}
