{{ define "main" }}
  {{ $headless := .Site.GetPage "/home" }}
  {{ $preface := $headless.Resources.Match "preface*.md" }}
  {{ range $preface }}
    <section
      class="prose prose-lg container dark:prose-invert prose-a:font-normal hover:prose-a:text-green-700 focus:prose-a:text-green-700 prose-em:ml-[0.18rem] prose-em:font-serif prose-em:font-normal prose-em:italic hover:dark:prose-a:text-green-400 focus:dark:prose-a:text-green-400"
    >
      {{ .Content }}
    </section>
  {{ end }}
{{ end }}
