---
import type { ImageMetadata } from "astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { getLocaleFromUrl, useTranslations } from "../utils/i18n";

interface Props {
  image?: ImageMetadata;
  imageAlt?: string;
  title: string;
}

const { image, imageAlt, title } = Astro.props;

const locale = getLocaleFromUrl(Astro.url);
const t = await useTranslations(locale, "layout");
---

<html lang={locale}>
  <Head image={image} imageAlt={imageAlt} title={title} />
  <body
    class="bg-gray-100 font-sans text-gray-900 subpixel-antialiased dark:bg-gray-900 dark:text-gray-100 dark:antialiased"
  >
    <a class="sr-only focus:not-sr-only" href={`#${t("main.id")}`}
      >{t("skipToContent")}</a
    >
    <Header />
    <main class="mx-auto max-w-prose px-4 py-10" id={t("main.id")}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
